.stf-screenshots {

}

.stf-screenshots .screenshot-image {
  display: block !important;
}

.stf-screenshots .screenshot-image {
  -webkit-transition: 1000ms;
  transition: 1000ms;
}

.stf-screenshots .screenshot-image.ng-image-not-loaded {
  opacity: 0;
}

.stf-screenshots .screenshot-image {
  opacity: 1;
}

.stf-screenshots .zoom-range {
  width: 180px;
  margin-right: 5px;
}
/* xiaoguai */
.fluid-height {
  /* height: 100% !important; */
  height: calc(100vh - 80px) !important;;
  overflow: visible;
}
.fluid-height .heading-for-tabs  {
  height: 100% !important;
  overflow: visible;
}
.fluid-height .heading-for-tabs .ng-isolate-scope {
  height: 100% ;
  /* overflow: visible; */
}
.fluid-height .heading-for-tabs .ng-isolate-scope .tab-content {
  height: 100% !important;
  overflow: visible;
}
.fluid-height .heading-for-tabs .tab-pane {
  height: 100% !important;
  overflow: visible;
}
.fluid-height .heading-for-tabs .tab-pane {
  height: 100% !important;
  overflow: visible;
}
.fluid-height .heading-for-tabs .ng-scope {
  height: 100% !important;
  overflow: visible;
}
.fluid-height .heading-for-tabs .ng-scope .ng-scope{
  height: 100% !important; 
  overflow: auto;
}
/* .fluid-height .heading-for-tabs .ng-scope .ng-scope .widget-content {
  margin-top: 30%;
} */

.changdeDescription {
  position: fixed !important;
  bottom: 0 !important;
  width: 265px !important;
  height: 30px;
}
.changdeDescription .btn-danger-outline {
  position: fixed !important;
  bottom: 0 !important;
  height: 27px !important;
}

/* 触发弹窗图片的样式*/
#xg-myImg {
  border-radius:5px;
  cursor:pointer;
  transition:0.3x;
}
#xg-myImg:hover{
  opacity:0.5;
}
/*弹窗背景*/
.xg-modal{
  display:none;
  position:fixed;
  z-index:1;
  /* padding-top:20%; */
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.9);
  opacity: 0.8;
}
/*图片*/
.xg-modal-content{
  margin:auto;
  display:block;
  width:80%;
  max-width:300px;
}
#xg-phoneImg {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/*添加动画*/
.xg-modal-content, #caption{
  -webkit-animation-name:zoom;
  -webkit-animation-duration:0.6s;
  animation-name:zoom;
  animation-duration:0.6s;
}
@-webkit-keyframes zoom{
  from{-webkit-transform:scale(0)}
  to{-webkit-transform:scale(1)}
}
@keyframes zoom{
  from{transform:scale(0)}
  to{transform:scale(1)}
}
/*关闭按钮*/
.xg-close{
  position:absolute;
  top: 10%;
  right: 35%;
  color:#f1f1f1;
  font-size:40px;
  font-weight:bold;
  transition:0.3s;
}
.xg-close:hover,
.xg-close:focus{
  color:#bbb;
  text-decoration:none;
  cursor:pointer;
}
/*小屏幕中图片宽度为100%*/
@media only screen and (max-width:700px){
  .xg-modal-content{
    width:100%;
  }
}